body{
    margin:0;
}

.navbar{
    background:#FFDEAD !important;
    color: #A0522D;
    font-family: 'Pacifico', cursive;
    display: flex;
}

.rounded{
    padding: 25px;
    height: 80px;
}

.title{
    margin: auto;
}

.marketing_brand{
  font-size: 3em;
  text-align:center;
}