
footer{
    background:#FFDEAD;
    color: #A0522D;
    font-family: 'Pacifico', cursive;
    display: flex;
    text-align:center;
    width: 100%;
    bottom: 0;
    margin: 0;
    padding: 0;
}
footer .contato{
    display: flex;
    margin: auto;
}

footer h5{
    margin: 20px 0;
    font-size: 16px;
    
}
footer h5 a{
    text-decoration: none;
}    
